.vscode
dokumentation/*.aux
dokumentation/*.fdb*
dokumentation/*.log
dokumentation/*.synctex*
dokumentation/*.fls
dokumentation/*.out
dokumentation/*.run*
dokumentation/*.bcf
dokumentation/*.bbl
dokumentation/*.blg
dokumentation/*.toc