.ipynb_checkpoints
.projectvenv
.vscode

dokumentation/seminararbeit.*
!dokumentation/seminararbeit.tex

data/*.xlsx
!data/übersicht_datenlücken.xlsx
data/*.csv
data/*.txt
data/*.pkl
data/*.zip

*/wandb/*

*pyc

.DS_Store